<%- include("../../partials/header.ejs")  %> 

<%- include("../../partials/navbar.ejs") %> 

<div class="container">
    <div class="title row">
        <div class="title-img col-4">
            <img src="/assets/supermarket/supermarket-example.png" alt="Super mercado exemplo" class="img-fluid">
        </div>
        <div class="title-name col-8">
            <h3><%= supermarket.name %></h3>
            <p class="pt-1"><%= supermarket.description %> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6 mb-3">
            <h5 class="chart-title">Produtos mais vendidos</h5>
            <div class="chart-body">
                <img src="/assets/supermarket/chart.png" class="img-fluid" width="240">
            </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <h5 class="chart-title">Valor total em vendas por semana do mês atual</h5>
            <div class="chart-body">
                <img src="/assets/supermarket/chart.png" class="img-fluid" width="240">
            </div>
        </div>

        <div class="col-12 mb-3">
            <h5 class="chart-title">Valor total em vendas no ano atual</h5>
            <div class="chart-body">
                <img src="/assets/supermarket/chart.png" class="img-fluid" width="240">
            </div>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs")  %> 