<%- include("../../partials/header.ejs")  %> 

<%- include("../../partials/navbar.ejs") %> 

<div class="container">
    <div class="title row">
        <div class="title-img col-4">
            <img src="/assets/supermarket/supermarket-example.png" alt="Super mercado exemplo" class="img-fluid">
        </div>
        <div class="title-name col-8">
            <h3><%= supermarket.name %></h3>
            <p class="pt-1"><%= supermarket.description %> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6 mb-3">
            <h5 class="chart-title">Produtos mais vendidos</h5>
            <div class="chart-body">
                <canvas id="chart1"></canvas>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <h5 class="chart-title">Vendas por semana do mês atual</h5>
            <div class="chart-body">
                <canvas id="chart2"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    // Requisição para gráfico 1
    let name = 'Quantidade Vendida';
    let labels = ["Feijão", "Arroz", "Caixa de Leite", "Saco de Pão", "Creme Cracker"];
    let values = [143, 140, 84, 44, 92];

    createChartBar(document.getElementById("chart1"), name, labels, values);

    // Requisição para gráfico 2
    name = 'Valor (R$)';
    labels = ["Semana 1", "Semana 2", "Semana 3", "Semana 4"];
    values = [1200, 1800, 1100, 1500];

    createChartLine(document.getElementById("chart2"), name, labels, values);
</script>
<%- include("../../partials/footer.ejs")  %> 