<%- include("../../partials/header.ejs")  %> 

<%- include("../../partials/navbar.ejs") %>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <h4>Compra - <%= shopping.id %></h4>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <div class="ticket-box">
            <div class="ticket-header">
                <h6 class="text-center"><%= shopping.supermarketName %></h6>
                <div class="row">
                    <div class="col-6"><%= shopping.date %></div>
                    <div class="col-6 d-flex justify-content-end">Total de Itens: <%= shopping.products.reduce((total, s) => total + s.quantity, 0) %></div>
                </div>
                <div class="row">
                    <div class="col-6">Comprador: <%= shopping.customerName %></div>
                    <div class="col-6 d-flex justify-content-end">Vendedor: <%= shopping.sellerName %></div>
                </div>
            </div>
            <div class="ticket-body mt-2">
                <h6>Lista de Itens</h6>
                <div class="ticket-body-header row">
                    <div class="col-2">ID</div>
                    <div class="col-4">Nome</div>
                    <div class="col-2">Qtd</div>
                    <div class="col-2">Valor Unit.</div>
                    <div class="col-2">Valor Final</div>
                </div>
                <% shopping.products.forEach(p => { %>
                    <div class="ticket-item row">
                        <div class="col-2"><%= p.id %></div>
                        <div class="col-4"><%= p.name %></div>
                        <div class="col-2"><%= p.quantity %></div>
                        <div class="col-2"><%= p.value %></div>
                        <div class="col-2"><%= p.quantity * p.value %></div>
                    </div>
                <% }) %>
            </div>
            <div class="ticket-footer row">
                <div class="col-2">Total</div>
                <div class="col-2">R$ <%= shopping.products.reduce((total, p) => total + (p.quantity * p.value), 0) %></div>
            </div>
        </form>
    </div>
</div>

<%- include("../../partials/footer.ejs")  %> 