<%- include("../../partials/header.ejs")  %> 

<%- include("../../partials/navbar.ejs") %>

<div class="container">
    <div class="login-name">
      <%= user.name %>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <h4>Minhas Compras</h4>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Super Mercado</th>
                <th scope="col">Quantidade de Itens</th>
                <th scope="col">Valor(R$)</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
            <% shopping.forEach(s => { %>
              <tr>
                <th scope="row"><%= s.id %></th>
                <td><%= s.supermarketName %></td>
                <td><%= s.products.reduce((total, p) => total + p.quantity, 0) %></td>
                <td><%= s.products.reduce((total, p) => total + (p.quantity * p.value), 0) %></td>
                <td><%= s.date %></td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a href="/shopping/<%= s.id %>" class="action-item">
                            <img src="/icon/details.png" class="img-fluid" alt="Detalhar">
                            <span class="tooltip-text">Detalhar</span>
                        </a>
                    </div>
                </td>
              </tr>
            <% }) %>
            </tbody>
          </table>
    </div>
    
</div>

<%- include("../../partials/footer.ejs")  %> 